<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Albums</title>

</head>
<body>
    <h1>Albums</h1>
    <ul>
        <li th:each="album : ${albums}">
            <span th:text="${album}"></span>
            <img th:src ="${album.imageUrl}" alt="Album Image"/>
        </li>
    </ul>

    <form action="/albums" method="POST">
        <input name="title" placeholder="Title" />
        <input name="artist" placeholder="Artist" />
        <input name="song_count" placeholder="Song Count" />
        <input name="length" placeholder="Length (seconds)" />
        <input name="image_url" placeholder="Image URL"/>
        <input type="submit" />
    </form>


</body>
</html>