<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Albums</title>

</head>
<body>
    <h1>Your Albums</h1>
    <ul>
        <li th:each="album : ${albums}">
            <p th:text="${album.title} + ' | ' + ${album.artist}"></p>


            <a th:href="@{'/albums/' + ${album.id}}">
                <img th:src ="${album.imageUrl}" alt="Album image" />
                See Details
            </a>
        </li>
    </ul>


    <h2>Add An Album to Your Collection</h2>
    <form action="/albums" method="POST">

        <label for="title">Album Title</label>
        <input type="text" name="title" id="title"/>

        <label for="artist">Artist</label>
        <input type="text" name="artist" id="artist"/>

        <label for="song_count">Song Count</label>
        <input type="text" name="song_count" id="song_count"/>

        <label for="length">Length (sec)</label>
        <input type="text" name="length" id="length"/>

        <label for="image_url">Image URL</label>
        <input type="text" name="image_url" id="image_url"/>

        <input type="submit" value="Add To Your Albums"/>

    </form>


    <a href="/songs">See Your Song List</a>


</body>
</html>