<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Songs</title>

</head>
<body>
    <h1>Your Songs</h1>


    <table>
        <tr>
            <th>Song Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Length (sec)</th>
            <th>Track #</th>
        </tr>
        <tr th:each="song : ${songs}">
            <td th:text="${song.title}"></td>
            <td th:text="${song.album.artist}"></td>
            <td th:text="${song.album.title}"></td>
            <td th:text="${song.length}"></td>
            <td th:text="${song.trackNumber}"></td>
        </tr>
    </table>

    <a href="/albums">Back To Your Albums</a>

</body>
</html>